@import url(https://fonts.googleapis.com/css?family=Hind:400,300,500,700,600);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

/*** GLOBAL STYLES ***/

* {
	margin:0;
	padding:0;
}

body {
	background:#fafafa;
}

a {
	text-decoration:none;
	color:#566b7f;
}

a:hover {
	text-decoration:underline;
}

h1 {
	font-family:Hind;
	font-size:1.6rem;
	font-weight:600;
	text-align:center;
	margin:2rem;
	color:#2c3e50;
}

h2 {
	font-family:Hind;
	font-size:1.2rem;
	font-weight:500;
	text-align:center;
	color:#2c3e50;
	margin-bottom:1rem;
}

h3 {
	font-family:Lato;
	font-size:1rem;
	font-weight:600;
	color:#666666;
	margin-bottom:1rem;
	text-align:left;
}

h4 {
	font-family:Hind;
	font-size:0.9rem;
	font-weight:500;
	color:#666666;
	margin:auto;
	margin-bottom:0.3rem;
	text-align:left;
	width:100%;
	max-width:500px;
}

input[type="text"] {
	display:inline-block;
	outline:none;
	background:#ffffff;
	border:1px solid #f0f0f0;
	border-radius:0.2rem;
	line-height:1.7rem;
	padding:0 0.5rem;
	font-family:Lato;
	font-size:1rem;
}

input[type="number"] {
	display:inline-block;
	outline:none;
	background:#ffffff;
	border:1px solid #f0f0f0;
	border-radius:0.2rem;
	line-height:1.7rem;
	padding:0 0.5rem;
	font-family:Lato;
	font-size:0.9rem;
	text-align:center;
	width:5rem;
}

label {
	font-family:Hind;
	font-size:1rem;
	font-weight:500;
	color:#666666;
	margin-right:0.5rem;
	display:inline-block;
	min-width:5rem;
	text-align:right;
}

textarea {
	outline:none;
	background:#ffffff;
	border:1px solid #f0f0f0;
	border-radius:0.2rem;
	padding:0.5rem;
	font-family:Lato;
	font-size:1rem;
	box-sizing:border-box;
}

button {
	display:inline-block;
	outline:none;
	background:#34495e;
	border:1px solid rgba(0,0,0,0.1);
	border-radius:0.2rem;
	line-height:1.9rem;
	padding:0 0.7rem;
	font-family:Lato;
	font-size:0.9rem;
	color:#ffffff;
	cursor:pointer;
}

.radio-group button:not(.active) {
	background:#677c8f;
}


button:hover {
	background:#455a6f !important;
}

button:active {
	background:#23384d;
}

button:disabled {
	background:#566b7f;
	cursor:initial;
}

button.block {
	display:block;
	width:100%;
	max-width:500px;
	margin:auto;
}

.input {
	margin:0.5rem 0;
}

.panel {
	background:#ffffff;
	padding:0.5rem 1.5rem;
	border:1px solid rgba(0,0,0,0.1);
	border-radius:0.2rem;
	width:100%;
	max-width:500px;
	box-sizing:border-box;
	margin:1rem auto;
}

.wrapper {
	text-align:center;
}


/*** MESSAGES ***/

#err, #msg {
	display:none;
	width:100%;
	max-width:500px;
	margin:auto;
	text-align:left;
	padding:0.5rem;
	box-sizing:border-box;
	border-radius:0.2rem;
	margin-bottom:1rem;
	font-family:monospace;
}

#err {
	background:#ffe6e6;
	border:1px solid #ffb3b3;
	color:#4d0000;
}

#msg {
	background:#d6f5d6;
	border:1px solid #adebad;
	color:#0f3e0f;
}


/*** SCREENS ***/

#screen-config {
	display:none;
}


/*** INITIAL SETUP ***/

#kle {
	width:500px;
	height:200px;
	font-family:monospace;
	text-align:left;
	resize:none;
}


/*** CONFIG - KEYBOARD ***/

.keyboard-wrapper {
	padding:0.5rem;
	margin:auto;
	background:#ffffff;
	border:1px solid rgba(0,0,0,0.1);
	border-radius:0.5rem;
	display:inline-block;
}

#keyboard {
	position:relative;
}

.key {
	position:absolute;
}

.key-inner {
	position:absolute;
	top:0.3rem;
	left:0.3rem;
	right:0.3rem;
	bottom:0.3rem;
	border:1px solid rgba(0,0,0,0.2);
	border-radius:0.2rem;
	cursor:pointer;
}

.key-inner:hover {
	background:rgba(0,0,0,0.02);
}

.key.active .key-inner {
	border:1px solid rgba(0,0,100,0.5);
}

.key-pad {
	position:absolute;
	top:50%;
	left:50%;
	width:0;
	height:0;
	border:3px solid #888888;
	border-radius:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
	pointer-events:none;
}

.config-panel {
	display:none;
}


/*** CONFIG - WIRE ***/

.keyboard-row-indicator, .keyboard-col-indicator {
	position:absolute;
	font-family:monospace;
	font-size:0.9rem;
	font-weight:500;
}

.keyboard-row-indicator {
	left:-2rem;
	color:#c0392b;
}

.keyboard-col-indicator {
	top:-2.5rem;
	text-align:center;
	color:#2c3e50;
}



/*** CONFIG - FIRMWARE ***/
